/* General */
:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

/* Section */
.section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #2f53eb;
    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #172873;
}

/* Header */
/*landing page */
.header {
    transition: all 0.5s;
    z-index: 997;
}

.header.header-scrolled {
    background: #2f53eb;
    box-shadow: 0px 2px 20px rgb(255, 255, 255, 0.2);
}

.header .logo {
    line-height: 0;
}

.header .logo img {
    max-height: 40px;
    margin-right: 6px;
    background: #fff;
    width: 100%;
    border-radius: 10px;
}

.header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 3px;
}

/* Navbar */

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active:focus,
.navbar .active,
.navbar li:hover > a {
    color: #748cf1;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    background: #fff;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #2f53eb;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #748cf1;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #2f53eb;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/* Hero Section */

.section {
    padding: 0;
}

.container .btn-light,
.container .btn-light:focus {
    width: 28%;
    font-weight: 600;
    background: #fff;
    color: #2f53eb;
}

.gradient-banner {
    padding: 100px 0 170px;
    position: relative;
    overflow: hidden;
}

.gradient-banner::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-image: linear-gradient(
        45deg,
        #748cf1 0%,
        #2f53eb 20%,
        #172873 50%
    );
}

.pull-top {
    margin-top: -100px;
}

.shapes-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.shapes-container .shape {
    position: absolute;
}

.shapes-container .shape::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
    position: absolute;
    border-radius: 50px;
}

.shapes-container .shape:nth-child(1) {
    top: 2%;
    left: 11%;
    width: 400px;
    height: 70px;
}

.shapes-container .shape:nth-child(2) {
    top: 14%;
    left: 18%;
    width: 200px;
    height: 15px;
}

.shapes-container .shape:nth-child(3) {
    top: 80%;
    left: 4%;
    width: 300px;
    height: 60px;
}

.shapes-container .shape:nth-child(4) {
    top: 85%;
    left: 15%;
    width: 100px;
    height: 10px;
}

.shapes-container .shape:nth-child(5) {
    top: 5%;
    left: 50%;
    width: 300px;
    height: 25px;
}

.shapes-container .shape:nth-child(6) {
    top: 4%;
    left: 52%;
    width: 200px;
    height: 5px;
}

.shapes-container .shape:nth-child(7) {
    top: 80%;
    left: 70%;
    width: 200px;
    height: 5px;
}

.shapes-container .shape:nth-child(8) {
    top: 55%;
    left: 95%;
    width: 200px;
    height: 5px;
}

.shapes-container .shape:nth-child(9) {
    top: 50%;
    left: 90%;
    width: 300px;
    height: 50px;
}

.shapes-container .shape:nth-child(10) {
    top: 30%;
    left: 60%;
    width: 500px;
    height: 55px;
}

.shapes-container .shape:nth-child(11) {
    top: 60%;
    left: 60%;
    width: 200px;
    height: 5px;
}

.shapes-container .shape:nth-child(12) {
    top: 35%;
    left: 75%;
    width: 200px;
    height: 5px;
}

.shapes-container .shape:nth-child(13) {
    top: 90%;
    left: 40%;
    width: 300px;
    height: 45px;
}

.shapes-container .shape:nth-child(14) {
    top: 54%;
    left: 75%;
    width: 200px;
    height: 5px;
}

.shapes-container .shape:nth-child(15) {
    top: 50%;
    left: 90%;
    width: 200px;
    height: 5px;
}

.shapes-container .shape:nth-child(16) {
    top: 50%;
    left: 81%;
    width: 100px;
    height: 5px;
}

/* Main */
/* Hero section Landing page */
.class-banner,
.daftar-mentor,
.recent-blog-posts {
    padding-top: 100px;
    position: relative;
}

.class-banner .container-class:hover {
    transform: scale(1.01);
}

.class-banner .btn-belajar-sekarang {
    padding: 6px 16px;
    border-radius: 6px;
    transition: 0.5s;
    color: #fff;
    background: #2f53eb;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.class-banner .btn-belajar-sekarang span {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

.class-banner .btn-belajar-sekarang i {
    margin-left: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.class-banner .btn-belajar-sekarang:hover {
    color: #fff;
    background: #748cf1;
}

.class-banner .btn-belajar-sekarang:hover i {
    transform: translateX(5px);
}

.class-banner .btn-lihat-semua {
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid rgba(47, 83, 235, 1);
    opacity: 0;
    transition: 0.5s;
    color: #2f53eb;
    background: #fff;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.class-banner .btn-lihat-semua:hover {
    color: #fff;
    background: #2f53eb;
}

.class-banner .container-class:hover .btn-lihat-semua {
    right: 8px;
    opacity: 1;
}

.class-banner .btn-lihat-semua span {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}

.class-banner.btn-lihat-semua i {
    margin-left: 5px;
    font-size: 10px;
    transition: 0.3s;
}

.class-banner .btn-lihat-modul {
    margin-right: 10px;
    padding: 6px 16px;
    border-radius: 6px;
    border: 1px solid rgba(47, 83, 235, 1);
    transition: 0.5s;
    color: #2f53eb;
    background: #fff;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.class-banner .btn-lihat-modul span {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

.class-banner .btn-lihat-modul:hover {
    color: #fff;
    background: #2f53eb;
}

#coba {
    align-items: right;
}

.container img {
    align-items: center;
    width: 500px;
}

.bi-arrow {
    font-size: 30px;
    margin-left: 10px;
    color: #2f53eb;
}

.icon-container {
    display: inline-flex;
    align-items: center;
}

/* hero section bootcamp page */
.gradient-bootcamp {
    padding: 100px 0 170px;
    position: relative;
    overflow: hidden;
}

.gradient-bootcamp::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
        rgba(47, 83, 235, 1),
        rgba(47, 83, 235, 0.9),
        rgba(47, 83, 235, 0)
    );
}

/* Daftar Mentor */
/* Card Slider */

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card {
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.card-content h2 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #172873;
}

.card-content span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #707070;
}

.card-content p {
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2f53eb;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #2f53eb;
}
.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #2f53eb;
}
.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.swiper-navBtn {
    color: #2f53eb;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover {
    color: #748cf1;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}
.swiper-button-next {
    right: 0;
}
.swiper-button-prev {
    left: 0;
}
.swiper-pagination-bullet {
    background-color: #2f53eb;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #748cf1;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }
    .swiper-navBtn {
        display: none;
    }
}

/* Blog Section */
.recent-blog-posts .post-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.3);
    transition: 0.3s;
    height: 100%;
    overflow: hidden;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.recent-blog-posts .post-box .post-img {
    overflow: hidden;
    margin: -30px -30px 15px -30px;
    position: relative;
}
.recent-blog-posts .post-box .post-img img {
    transition: 0.5s;
}
.recent-blog-posts .post-box .post-date {
    font-size: 16px;
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
    display: block;
    margin-bottom: 10px;
}
.recent-blog-posts .post-box .post-title {
    font-size: 24px;
    color: #172873;
    font-weight: 700;
    margin-bottom: 18px;
    position: relative;
    transition: 0.3s;
}
.recent-blog-posts .post-box .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
}
.recent-blog-posts .post-box .readmore i {
    line-height: 0;
    margin-left: 4px;
    font-size: 18px;
}
.recent-blog-posts .post-box:hover .post-title {
    color: #2f53eb;
}
.recent-blog-posts .post-box:hover .post-img img {
    transform: rotate(6deg) scale(1.2);
}

/* Footer */
.footer {
    background: #f6f9ff;
    padding-top: 100px;
    font-size: 14px;
}
.footer .footer-top {
    background: #2f53eb;
    background-size: contain;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 60px 0 30px 0;
}
@media (max-width: 992px) {
    .footer .footer-top {
        background-position: center bottom;
    }
}
.footer .footer-top .footer-info {
    margin-bottom: 30px;
}
.footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
}
.footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
    background: #fff;
    border-radius: 10px;
    margin-right: 5px;
}
.footer .footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}
.footer .footer-top .footer-info p {
    font-size: 14px;
    color: #fff;
    line-height: 24px;

    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
}
.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: #fff;
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}
.footer .footer-top .social-links a:hover {
    color: #748cf1;
}
.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}
.footer .footer-top .footer-links {
    margin-bottom: 30px;
}
.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 12px;
    line-height: 0;
}
.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
.footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
.footer .footer-top .footer-links ul a:hover {
    color: #748cf1;
}
.footer .footer-top .footer-contact p {
    line-height: 26px;
    color: #fff;
}
.footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #172873;
}
.footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #172873;
}

.navbar .profil,
.navbar .profil:focus {
    background: #fff;
    width: 50px;
    margin-left: 30px;
    border-radius: 4px;
    color: #2f53eb;
}

.navbar .profil {
    padding: 2px;
    border-radius: 100%;
}

.navbar .profil img {
    border-radius: 100%;
    width: 100%;
}
