/* General */
:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}


/* Section */
.section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #2F53EB;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #172873;
}

/* Header */
/*landing page */
.header {
  transition: all 0.5s;
  z-index: 997;
}

.header.header-scrolled {
  background: #2F53EB;
  box-shadow: 0px 2px 20px rgb(255, 255, 255, 0.2);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 3px;
}



/* Navbar */


.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active:focus,
.navbar .active,
.navbar li:hover>a {
  color: #748CF1;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #fff;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #2F53EB;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #748CF1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #2F53EB;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;

}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.logo img {
  background: #fff;
  width: 100%;
  border-radius: 10px;
}

/* hero banner section */
.gradient-bootcamp {
  padding: 100px 0 170px;
  position: relative;
  overflow: hidden;
}

.gradient-bootcamp::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  
  background-image: linear-gradient(rgba(23, 40, 115, 1), rgba(47, 83, 235, 0.9), rgba(47, 83, 235, 0));
}

.bootcamp-hero {
  text-align: center;
  padding-left: 50px;
  padding-top: 60px;
}

.bootcamp-hero h1 {
  font-weight: 700;
  color: #fff;
}

.bootcamp-hero p {
  color: #fff;
}

.bootcamp-list h2 {
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #172873;
}

.list-kategori ul {
  
  margin-left: 25px;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.list-kategori li {
  position: relative;
  margin-left: 5px;
}

.list-kategori a {
  display: flex;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #172873;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(23, 40, 115, 1);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(47, 83, 235, 0.2);
}

.list-kategori a:hover {
  color: #fff;
  background-color: #2F53EB;
  
}

.card-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 24px;
  padding: 24px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;
  border: 1px solid rgba(127, 137, 161, 0.5);
  background: #fff;

}

.box-top {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  margin-bottom: 10px;
}
.box-top p {
  font-size: 14px;
  width: 100%;
}
.box-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 20%;
}
.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-flex h3 {
  border-left: 3px solid #172873;
  padding-left: 12px;
  font-weight: 600;
  font-size: large;
  color: #172873;
}
.title-flex p {
  margin-bottom: 0;
  font-size: small;
  font-weight: 600;
  color: #172873;
}
.icon-container {
  
  display: inline-flex;
  align-items: center;
}
.button {
  display: block;
  position: absolute;
  bottom: 3%;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0;
  padding: 5px;
  width: 81%;
  color: #fff;
  background: #172873;
  
  transition: background 0.4s ease;
}
.button:hover {
  background: rgba(23, 40, 115, 0.5);
  color: #fff;
}

.fill-one {
  background: var(--light-bg);
}

.fill-two {
  background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .box {
    flex-basis: calc(50% - 12px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
}

/* Footer */
.footer {
  background: #f6f9ff;
  padding-top: 100px;
  font-size: 14px;
}
.footer .footer-top {
  background: #172873;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}
@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}
.footer .footer-top .footer-info {
  margin-bottom: 30px;
}
.footer .footer-top .footer-info .logo-footer {
  line-height: 0;
  margin-bottom: 15px;
}
.footer .footer-top .footer-info .logo-footer img {
  max-height: 50px;
  max-width: 50px;
  background: #fff;
  border-radius: 10px;
  margin-right: 5px;
  
}
.footer .footer-top .footer-info .logo-footer span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}
.footer .footer-top .footer-info p {
  font-size: 14px;
  color: #FFF;
  line-height: 24px;

  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}
.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: #FFF;
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}
.footer .footer-top .social-links a:hover {
  color: #748CF1;
}
.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
.footer .footer-top .footer-links {
  margin-bottom: 30px;
}
.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}
.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
.footer .footer-top .footer-links ul a:hover {
  color: #748CF1;
}
.footer .footer-top .footer-contact p {
  line-height: 26px;
  color: #FFF;
}
.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #172873;
}
.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #172873;
}